<% unless @page.root? %> 
        <ul class="breadcrumbs"> 
                <li><%= link_to "Home", root_url(:only_path => true) %> </li> 
                <% [@page.ancestors, @page].flatten.collect do |p| %> 
                        <li><%= link_to p.title, p.url %> </li> 
                <% end %> 
        </ul> 
<% end %> 
<div class="row" style="margin-top:100px;">




    <section class="small-12 large-4 columns text-center">
        <%=raw @page.content_for(:side_body) %>
    </section>

    <section class="small-12 large-8 columns ">
    <h1><%= @page.title %></h1>
     <%=raw @page.content_for(:body) %>

     <hr>
     <div class="row">
     		<a href="/contact" class="button success right">Get One</a>
     		<a href="http://tomaszgrabarczyk.jeunesseglobal.com" class="button primary right">Become Distributor</a>
     </div>
    </section>



</div>




<section class="row tabs1">
		<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1">Description</a></li>
  <li class="tab-title"><a href="#panel2">Ingredients</a></li>
  <li class="tab-title"><a href="#panel3">Usage</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="panel1">
    	<%=raw @page.content_for(:description) %>
  </div>
  <div class="content" id="panel2">
  		<%=raw @page.content_for(:ingredients) %>
  </div>
  <div class="content" id="panel3">
  		<%=raw @page.content_for(:usage) %>
  </div>
</div>
</section>




