
<div class="standard-bg">

<div class="row text-center">
<h1>
<%= @page.title if @page.title%>
</h1>
<a href="http://tomaszgrabarczyk.jeunesseglobal.com" class="button success">Join Jeunesse</a>
</div>
</div>
<% unless @page.root? %> 
        <ul class="breadcrumbs"> 
                <li><%= link_to "Home", root_url(:only_path => true) %> </li> 
                <% [@page.ancestors, @page].flatten.collect do |p| %> 
                        <li><%= link_to p.title, p.url %> </li> 
                <% end %> 
        </ul> 
<% end %> 

<div class="row" style="margin-top:100px;">
<div class="small-12 large-12 columns">

<% @pages = refinery_menu_pages.select{|p| p.parent_id == @page.root.id} %>

<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">

<% @pages.each do |p| %>

<li>
    <div class="row-flex product-tab">
        <div class="product-title"><h4><%= link_to p.title, p.url %></h4></div>
        <div class="product-subtitle"></div>

        <div class="product-body">
            <div class="holder-<%= p.original_id %>">
              
            </div>
        </div>
    </div>

</li>

<script>
$(".holder-<%= p.original_id %>").load("<%= p.url[:path][0] %>/<%= p.url[:path][1] %> div.product p");

</script>

<% end %>
</ul>

  <%=raw @page.content_for(:body) %>
</div>

</div>






<div class="grey-bg" style="margin-top:100px;">
<div class="row text-center">
<%=raw @page.content_for(:middle) %>
</div>
<hr>
<div class="row">
    <div class="small6 large-6 columns"><%=raw @page.content_for(:middle_left) %></div>

    <div class="small6 large-6 columns"><%=raw @page.content_for(:middle_right) %></div>
</div>

</div>








<div class="world" style="margin-top:100px;">
<div class="text-center">
<h2>People from around the world</h2>
<p>Joined Jeunesse Already</p>
<p>Have you?</p>

<div class="join-now"><a href="#" class="button success">Join Now</a></div>
</div>


</div>










<script type="text/javascript">


$(document).ready(function(){

$(document).scroll(function(){
  if($(this).scrollTop() > 50){
    $('.standard-bg h1').addClass('animated fadeOutLeft');
    $('.standard-bg a').addClass('animated fadeOutRight');
  }
});


$(document).scroll(function(){
  if($(this).scrollTop() < 50){
  $('.standard-bg h1').removeClass(' fadeOutLeft').addClass('fadeInLeft');
    $('.standard-bg a').removeClass(' fadeOutRight').addClass('fadeInRight');
    
  }
});

});

</script>



