
<div class="standard-bg">

<div class="row text-center">
<h1>
<%= @page.title if @page.title%>
</h1>
</div>
</div>



<% unless @page.root? %> 
        <ul class="breadcrumbs"> 
                <li><%= link_to "Home", root_url(:only_path => true) %> </li> 
                <% [@page.ancestors, @page].flatten.collect do |p| %> 
                        <li><%= link_to p.title, p.url %> </li> 
                <% end %> 
        </ul> 
<% end %> 

<div class="row-flex" style="background-color:#f8f8f8;">

<div class="row" style="min-height:800px;">
<!-- Navigation -->

		<div class="small-3 large-3 columns white-col">
			<% Refinery::Blog::Post.all.limit(10).each do |t| %>
				<div class="blog-title-single">
				<%= link_to t.title, blog_post_path(t) %>
				</div>
			<% end %>
		</div>


		<div class="small-8 large-8 columns white-col">
				<%=raw @page.content_for(:body) %>
		</div>


</div>

</div>

