   
     

<div class="row course" style="padding:30px 30px">
<h5><%= @course.category %></h5>
    <div class="right">
    
      <% if current_user.subscriptions.where(:course_id => @course).exists? %>

       

<%= button_to 'Unsubscribe', unsubscribe_path(course_id: @course, user_id: current_user.id), class: 'button primary', method: :delete %>
        <% else %>

         <%= button_to 'Subscribe', subscribe_path(course_id: @course, user_id: current_user.id), class: 'button alert' %>

        <% end %>
    </div>
<hr>

 <% @courseitems.each do |courseitem| %>
<%= link_to course_courseitem_path(@course, courseitem) do %>

  <div>
    <div class="small-2 large-2 columns text-center" style="padding-bottom:20px;">
      <img src="<%= courseitem.image %>"></div>
    </div>

    <div class="small-8 large-8 columns">
      <h5><%= courseitem.title %></h5>
      <p><%= courseitem.intro %></p>

      
    </div>

    <div class="small-2 large-2 columns">
    <div class="right">
      <span style="color:lightgrey; font-weight:bolder; font-size:1.2em;"><%= courseitem.time %></span><br>
      <% if is_admin?(current_user) %>
      <%= link_to 'New Courseitem', new_course_courseitem_path %>
       <%= link_to 'Show', course_courseitem_path(@course, courseitem) %>
        <%= link_to 'Edit', edit_course_courseitem_path(@course, courseitem) %>
        <%= link_to 'Destroy', course_courseitem_path(@course, courseitem), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </div>
    </div>
    <hr>
  </div>


  <% end %>
    
    <% end %>

