<div class="initial-bg">

		<div class="row">
				<div class="small-12 large-6 columns">
				<h1>Wouldn't it be cool if <br>someone took a global <br>leader in anti-aging <br>and broke the mold?</h1>
				<hr>
					<button class="button">Join Now</button>
					<button class="button success">Find out more</button>
				</div>

				<div class="small-12 large-6 columns text-center">
						<video class="intro-video" controls>
						  <source src="<%= asset_path('jeunesse.mp4') %>" type="video/mp4">
					
						  Your browser does not support HTML5 video.
						</video>
						<p>Jeunesse instantly ageless in 30 seconds! Must watch!</p>
				</div>

		</div>
</div>


<div class="row text-center">

<h1>WE ARE REDEFINING YOUTH</h1>
<p>Jeunesse is not the same old story of skin care and supplements. We are not the same old network model. Jeunesse is a global business that helps people reach their full potential in youthful looks, in healthy living, in embracing life
</p>

<br><br><br>

</div>

<div class="jeunesse-product">

</div>

<br><br><br>
<div class="row">

<center>

<i class="fa fa-dollar fa-5x rounded"></i>
<br><br>
<h2>Make Money In Three Simple Steps</h2>
<p>Sed condimentum ante ac quam varius pretium. Nunc ornare laoreet augue et elementum. Phasellus enim libero, blandit sapien vitae, condimentum ultricies magna et.</p>
</center>
<br>
<hr>

			<div class="small-12 large-4 columns make-money">
				<center><div calss="circle"><i class="fa fa-circle-o fa-1x"></i></div></center>
				<br><br>
					<center><i class="fa fa-heart fa-2x"></i></center>
					<center><h4>Join</h4></center>
					<br>
					<p>In suscipit, sem at vehicula commodo, elit mi aliquam turpis, et vehicula quam diam in orci</p>
			</div>

			<div class="small-12 large-4 columns make-money">
			<center><div calss="circle"><i class="fa fa-circle-o fa-1x"></i></div></center>
				<br><br>
				<center><i class="fa fa-diamond fa-2x"></i></center>
				<center><h4>Upgrade</h4></center>
				<br>
					<p>In suscipit, sem at vehicula commodo, elit mi aliquam turpis, et vehicula quam diam in orci</p>
			</div>
			
			<div class="small-12 large-4 columns make-money">
			<center><div calss="circle"><i class="fa fa-circle-o fa-1x"></i></div></center>
				<br><br>
				<center><i class="fa fa-group fa-2x"></i></center>
				<center><h4>Gather</h4></center>
				<br>
					<p>In suscipit, sem at vehicula commodo, elit mi aliquam turpis, et vehicula quam diam in orci</p>
			</div>
</div>


<br><br>
<hr>
<br><br>
<div class="row text-center">
<div class="large-8 large-centered columns">
<h2>Generation Young</h2>
<p>
Sed condimentum ante ac quam varius pretium. Nunc laoreet augue et elementum. Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et.
</p>
</div>
</div>




<br><br><br>

<div class="row">
		<div class="small-12 large-4 columns">
				<h3>By Organising Team Buildings And Impromptu</h3>

				<p>
						We do play a lot, but we also work hard and like to challenge ourselves with proposing new projects that will further better our skills and connect us as a team. We value continuous education and professional growth, encourage attending conferences as well as hold internal lectures.
				</p>
		</div>

		<div class="small-12 large-8 columns ">
				 <div class="progressDiv" style="margin-left:20%;">
            <div class="statChartHolder">
                <div class="progress-pie-chart" data-percent="87"><!--Pie Chart -->
                    <div class="ppc-progress">
                        <div class="ppc-progress-fill"></div>
                    </div>
                    <div class="ppc-percents">
                    <div class="pcc-percents-wrapper">
                        <span>%</span>
                    </div>
                    </div>
                </div><!--End Chart -->
            </div>
            <div class="statRightHolder">
                <ul>
                <li> &nbsp;&nbsp;<h3 class="blue" style="color:#ea4e3d;">1m+</h3> <span>Joined Jeunesse</span></li>
                <li>  &nbsp;&nbsp;<h3 class="purple">3524</h3> <span>Joining every day</span></li>
                </ul>
                
                    <ul class="statsLeft">
                    <li><h3 class="yellow">22%</h3> <span>Comments</span></li>
                    <li><h3 class="red">37%</h3> <span>Cheers</span></li>
                    </ul>

                        <ul class="statsRight">

                            <li><h3>18%</h3> <span>Tasks</span></li>
                            <li><h3>23%</h3> <span>Goals</span></li>
                        </ul>
            </div>
            
        </div>

		</div>

</div>


<div class="youtube">

<div class="youtube-bg">
    		<div class="row">
    		<center><h2>Join people all around the world</h2></center>

    		<div class="small-6 large-6 columns text-left">
    		    		<h2><small>Spread the word on social media</small></h2>

    		</div>

    		<div class="small-6 large-6 columns text-right">
    		    		<h2><small>Earn money while you sleep</small></h2>

    		</div>

    		</div>
</div>
</div>



<div class="row text-center" style="margin-top:300px;">
		<h2>Professional Work</h2>
<p>
Sed condimentum ante ac quam varius pretium. Nunc ornare laoreet augue et elementum. Phasellus enim, blandit vel sapien vitae, condimentum ultricies magna et.
</p>

</div>

<div class="team">

</div>
<br>
<div class="text-center">
<i class="fa fa-plus-circle fa-2x rounded-plus"></i><span class="tip"><p>More customer stories</p></span>
</div>
<hr>




<div class="world">
<div class="text-center">
<h2>People from around the world</h2>
<p>Joined Jeunesse Already</p>

<div class="join-now"><a href="#" class="button success">Join Now</a></div>
</div>


</div>


<div class="" style="margin-top:100px;">


<div class="row text-center">
<h2>See How It Works</h2>
<p>
Sed condimentum ante ac quam varius pretium. Nunc ornare laoreet augue et elementum. Phasellus libero, blandit vel sapien vitae, condimentum ultricies magna et.
</p>
</div>
<br><br>

<div id="gallery-content">
<div id="gallery-content-center">

<img src="<%= asset_path('sample.jpg') %>" class="all studio"/>
<img src="<%= asset_path('sample2.jpg') %>" class="all studio"/>
<img src="<%= asset_path('sample3.jpg') %>" class="all studio"/>
<img src="<%= asset_path('sample4.jpg') %>" class="all studio"/>
<img src="<%= asset_path('sample5.png') %>" class="all studio"/>
<img src="<%= asset_path('sample6.jpg') %>" class="all studio"/>





</div>
</div>
</div>


</div>

<br><br>
<hr><br>

<div class="row">
<center><h2>Trusted by 40,000+ companies worldwide</h2></center>
<br><br>
<div class="small-12 large-4 columns text-center"><%= image_tag('member.png') %></div>
<div class="small-12 large-4 columns text-center"><%= image_tag('member2.jpg') %></div>
<div class="small-12 large-4 columns text-center"><%= image_tag('member3.jpg') %></div>

</div>



<div class="row-flex join-jeunesse-now">
<center><a href="#" class="button success">Join Jeunesse</a></center>
</div>




<script type="text/javascript">


$(document).ready(function(){


$(document).scroll(function() {
    if ($(this).scrollTop() < 100) {
        $('nav.top-bar').attr('style', 'background-color:rgba(255,255,255,0.67)');
        $('nav.top-bar').addClass('border-bottom-nav');
        $('section.top-bar-section ul li a').attr('style', 'color:#7f858f');
    } else if ($(this).scrollTop() < 115) {
        $('nav.top-bar').attr('style', 'background-color:rgba(255,255,255,0.80)');
    } else if ($(this).scrollTop() < 130) {
        $('nav.top-bar').attr('style', 'background-color:rgba(255,255,255,1)');
    } 
});

$(document).scroll(function(){
  if($(this).scrollTop() == 0){
    $('nav.top-bar').attr('style', 'background-color: none');
    $('nav-top-bar').addClass('animated');
    $('section.top-bar-section ul li a').attr('style', 'color:white');
    $('nav.top-bar').removeClass('border-bottom-nav');
    
  }
});

});

</script>