<link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>

<div class="initial-bg">

		<div class="row" style="margin-top:-60px;">
				<div class="small-12 large-12 columns text-center">
				<h1>
					We are <span style="font-family: 'Handlee'"><br><strong>Jeunesse Diamond Team</strong></span><br>
					<small style="color:white; margin-bottom:0;">We will work together for success taking ownership of our lives and our business.</small>
				</h1>
				<hr>

					<a href="http://tomaszgrabarczyk.jeunesseglobal.com" target="_blank" class="button" style="z-index:999;">How to Join &amp; Succeed</a>
					<a hef="http://tomaszgrabarczyk.jeunesseglobal.com/products_all.aspx" class="button success">Shop Now</a>
				</div>

				<!-- <div class="small-12 large-4 columns text-center">
				<div class="flex-video" style="z-index:999;">
						 <iframe width="520" height="315" src="https://www.youtube.com/embed/LsqzPWIlyFk?rel=0" frameborder="0" allowfullscreen></iframe> 
						</div>
						<p>Jeunesse instantly ageless in 30 seconds! Must watch!</p>
				</div> -->

		</div>
</div>


<div class="row text-center">

<h1>WE ARE HERE FOR YOU</h1>
<p>
You are in this business for yourself but not by yourself. 90% of those who quit their network marketing business do so because they felt that they did not have the support they needed to achieve their goals.
</p>

<br><br><br>

</div>

<div class="row">
		<div class="small-8 large-8 columns">
		<h2>Leadership VS Management</h2>
		<p>
			We have a vision but we are not supervisors.<br>
			<blockquote>The only thing worse than being blind is having sight but no visition
			<cite>Hellen Keller</cite></blockquote>

			<br>
			<hr>
			<br>
		</p>

			<h4>Jeunesse Leaders</h4>
		<p>Are you one of them? If not, you can learn how to be one and how to find and train leaders for your business.
		Leadership and the leader's passion and vision are the keys for success.</p>
	
		<p>
		Joining Jeunesse is not only about the money. It is about success, winning, appreciation, helping others to improve their health and outlook on life. It is about you feeling essence of contribution and being part of a team.
		</p>

		<p>
		Bring your best to Jeunesse and don't worry about your weaknesses.
		</p>
		<p><u><b>Teamwork makes the dream work</b></u></p>

		<a href="" class="button success">Read more</a>
		</div>

		<div class="small-4 large-8 columns diamonds-image">
				
		</div>
</div>

<br><br><br>
<div class="row">

<center>

<i class="fa fa-dollar fa-5x rounded"></i>
<br><br>
<h2>How to Kick Start Your Business</h2>
<p>
	<u>"Winners never quit. Quitters never win."</u>
</p>
</center>
<br>
<hr>

			<div class="small-12 large-4 columns make-money">
				<center><div calss="circle"><i class="fa fa-circle-o fa-1x"></i></div></center>
				<br><br>
					<center><i class="fa fa-heart fa-1x" style="font-size:1.3em;"></i></center>
					<center><h4>Join</h4></center>
					<br>
					<p>
						The success comes with our diamond team. Sign up with one of our leaders.<br><br>
						There's a choice of sponsors in our gallery. Match your needs with what they have to offer and go for success.
					</p>
			</div>

			<div class="small-12 large-4 columns make-money">
			<center><div calss="circle"><i class="fa fa-circle-o fa-1x"></i></div></center>
				<br><br>
				<center><i class="fa fa-diamond fa-2x"></i></center>
				<center><h4>Upgrade</h4></center>
				<br>
					<p>In suscipit, sem at vehicula commodo, elit mi aliquam turpis, et vehicula quam diam in orci</p>
			</div>
			
			<div class="small-12 large-4 columns make-money">
			<center><div calss="circle"><i class="fa fa-circle-o fa-1x"></i></div></center>
				<br><br>
				<center><i class="fa fa-group fa-2x"></i></center>
				<center><h4>Gather</h4></center>
				<br>
					<p>In suscipit, sem at vehicula commodo, elit mi aliquam turpis, et vehicula quam diam in orci</p>
			</div>
</div>


<br><br>
<hr>
<br><br>
<div class="row text-center">
<div class="large-8 large-centered columns">
<h2>Generation Young</h2>
<p>
Sed condimentum ante ac quam varius pretium. Nunc laoreet augue et elementum. Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et.
</p>
</div>
</div>




<br><br><br>

<div class="row">
		<div class="small-12 large-4 columns">
				<h3>By Organising Team Buildings And Impromptu</h3>

				<p>
						We do play a lot, but we also work hard and like to challenge ourselves with proposing new projects that will further better our skills and connect us as a team. We value continuous education and professional growth, encourage attending conferences as well as hold internal lectures.
				</p>
		</div>

		<div class="small-12 large-8 columns ">
				 <div class="progressDiv" style="margin-left:20%;">
            <div class="statChartHolder">
                <div class="progress-pie-chart" data-percent="87"><!--Pie Chart -->
                    <div class="ppc-progress">
                        <div class="ppc-progress-fill"></div>
                    </div>
                    <div class="ppc-percents">
                    <div class="pcc-percents-wrapper">
                        <span>%</span>
                    </div>
                    </div>
                </div><!--End Chart -->
            </div>
            <div class="statRightHolder">
                <ul>
                <li> &nbsp;&nbsp;<h3 class="blue" style="color:#ea4e3d;">1m+</h3> <span>Joined Jeunesse</span></li>
                <li>  &nbsp;&nbsp;<h3 class="purple">3524</h3> <span>Joining every day</span></li>
                </ul>
                
                    <ul class="statsLeft">
                    <li><h3 class="yellow">22%</h3> <span>Comments</span></li>
                    <li><h3 class="red">37%</h3> <span>Cheers</span></li>
                    </ul>

                        <ul class="statsRight">

                            <li><h3>18%</h3> <span>Tasks</span></li>
                            <li><h3>23%</h3> <span>Goals</span></li>
                        </ul>
            </div>
            
        </div>

		</div>

</div>


<div class="youtube">

<div class="youtube-bg">
    		<div class="row">
    		<center><h2>Join people all around the world</h2></center>

    		<div class="small-6 large-6 columns text-left">
    		    		<h2><small>Spread the word on social media</small></h2>

    		</div>

    		<div class="small-6 large-6 columns text-right">
    		    		<h2><small>Earn money while you sleep</small></h2>

    		</div>

    		</div>
</div>
</div>



<div class="row text-center" style="margin-top:300px;">
		<h2>Professional Work</h2>
<p>
Sed condimentum ante ac quam varius pretium. Nunc ornare laoreet augue et elementum. Phasellus enim, blandit vel sapien vitae, condimentum ultricies magna et.
</p>

</div>

<div class="team">

</div>
<br>
<div class="text-center">
<i class="fa fa-plus-circle fa-2x rounded-plus"></i><span class="tip"><p>More customer stories</p></span>
</div>
<hr>




<div class="world">
<div class="text-center">
<h2>People from around the world</h2>
<p>Joined Jeunesse Already</p>

<div class="join-now"><a href="#" class="button success">Join Now</a></div>
</div>


</div>


<div class="" style="margin-top:100px;">


<div class="row text-center">
<h2>See How It Works</h2>
<p>
Sed condimentum ante ac quam varius pretium. Nunc ornare laoreet augue et elementum. Phasellus libero, blandit vel sapien vitae, condimentum ultricies magna et.
</p>
</div>
<br><br>

<div id="gallery-content">
<div id="gallery-content-center">

<img src="<%= asset_path('sample.jpg') %>" class="all studio"/>
<img src="<%= asset_path('sample2.jpg') %>" class="all studio"/>
<img src="<%= asset_path('sample3.jpg') %>" class="all studio"/>
<img src="<%= asset_path('sample4.jpg') %>" class="all studio"/>
<img src="<%= asset_path('sample5.png') %>" class="all studio"/>
<img src="<%= asset_path('sample6.jpg') %>" class="all studio"/>





</div>
</div>
</div>


</div>

<br><br>
<hr><br>

<div class="row">
<center><h2>Trusted by 40,000+ companies worldwide</h2></center>
<br><br>
<div class="small-12 large-4 columns text-center"><%= image_tag('member.png') %></div>
<div class="small-12 large-4 columns text-center"><%= image_tag('member2.jpg') %></div>
<div class="small-12 large-4 columns text-center"><%= image_tag('member3.jpg') %></div>

</div>



<div class="row-flex join-jeunesse-now">
<center><a href="#" class="button success">Join Jeunesse</a></center>
</div>



