<div class="initial-bg">

		<div class="row" style="margin-top:-60px;">
				<div class="small-6 large-6 columns " style="padding-top:100px;">
				<h1>
					<span style=""><br><strong>Join Jeunesse Global<br>
					<div style="display:inline-block; margin:0 auto;">With</div>
					<br>Jeunesse Diamond Team</strong></span><br>
					<small style="color:white; margin-bottom:0; line-height:0em;">We will work together for success taking ownership of our lives and our business.</small>
				</h1>
				<hr>
					<a href="/about-jeunesse-global/why-jeunesse" class="button success">Why Jeunesse</a>
					<a href="/start-your-business" class="button" style="z-index:900;">How to Join &amp; Succeed</a>
					<!-- <a hef="/contact" class="button success" style="z-index:999;">Contact</a> -->
				</div>

				<div class="small-6 large-6 columns" style="padding-top:100px;">
				<iframe width="100%" height="315" src="https://www.youtube.com/embed/tHX7rUzu2is?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>

				<!-- <div class="small-12 large-4 columns text-center">
				<div class="flex-video" style="z-index:999;">
						 <iframe width="520" height="315" src="https://www.youtube.com/embed/LsqzPWIlyFk?rel=0" frameborder="0" allowfullscreen></iframe> 
						</div>
						<p>Jeunesse instantly ageless in 30 seconds! Must watch!</p>
				</div> -->

		</div>
</div>


<div class="row text-center main-boxes" style="margin-top:40px;">
		<div class="small-6 large-3 columns">
			<a href="/events"><%= image_tag('jeunesse-events.jpg') %></a>
			<h5>Events</h5>
		</div>

		<div class="small-6 large-3 columns">
			<a href="/testimonials"><%= image_tag('jeunesse-testimonials.jpg', class: 'testimonials-jeunesse-image') %></a>
			<h5>Testimonials</h5>
		</div>

		<div class="small-6 large-3 columns">
			<a href="/culture"><%= image_tag('jeunesse-culture.jpg',class: 'testimonials-jeunesse-image') %></a>
			<h5>Culture</h5>
		</div>

		<div class="small-6 large-3 columns">
			<a href="/promotions"><%= image_tag('join-jeunesse.jpg', class: 'testimonials-jeunesse-image') %></a>
			<h5>Promotions</h5>
		</div>

</div>

<hr>

<br><br>

<div class="row">

		<div class="small-12 large-6 columns">
		<h1><span style="color:#D12525;">ZEN BODI &#8482;</span> COUNTDOWN</h1>
		<div id="getting-started"></div>

		<p>
		ZEN BODI™ is a targeted, holistic approach to weight management. By curbing cravings, burning fat, and building muscle, ZEN BODI™ opens the path to health and restores the body’s natural mechanisms. <br>

		<h5>GET THE RESULTS YOU CRAVE.</h5>
</p>
		</div>

		<div class="small-12 large-6 columns">
		<iframe width="100%" height="260" src="https://www.youtube.com/embed/uLC0mWdaSzQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
</div>


<hr>

<div class="row text-center" style="margin-top:80px;">

<h1>Join Jeunesse Diamond Team and earn big</h1>
<p>

With our support you are in this business for yourself but not by yourself. 90% of those who quit their network marketing business do so because they felt that they did not have the support they needed to achieve their goals.
If you use what we equip you with, it will work for you. Dare to take a chance!
</p>

<br><br><br>

</div>



<div class="grey-bg">
<div class="row">
		<div class="small-6 large-6 columns">
		

			<h4>Jeunesse Leaders</h4>
		<p>Are you one of them? If not, you can learn how to be one and how to find and train leaders for your business.
		Leadership and the leader's passion and vision are the keys for success.</p>
	
		<p>
		Joining Jeunesse is not only about the money. It is about success, winning, appreciation, helping others to improve their health and outlook on life. It is about you feeling a sence of contribution and being part of a team.
		</p>

		<p>
		Bring your best to Jeunesse and don't worry about your weaknesses.
		</p>
		<p><u><b>Teamwork makes the dream work</b></u></p>

		<a href="/leaders-library/jeunesse-leaders" class="button success">Read more</a>
		</div>

		<div class="small-6 large-6columns diamonds-image text-center">
				<%= image_tag('jeunesse-diamonds.jpg') %>
		</div>
</div>
</div>

<div class="row text-center" style="margin-top:100px;">
<h2>Leadership VS Management</h2>
		<p>
			We have a vision but we are not supervisors.<br>
			<blockquote>The only thing worse than being blind is having sight but no visition
			<cite>Hellen Keller</cite></blockquote>

			<br>
			<hr>
			<br>
		</p>
</div>

<br><br><br>
<div class="row">

<center>

<i class="fa fa-dollar fa-5x rounded"></i>
<br><br>
<h2>How to Kick Start Your Business</h2>
<p>
	<u>"Winners never quit. Quitters never win."</u>
</p>
</center>
<br>
<hr>

			<div class="small-12 large-4 columns make-money">
				<center><div calss="circle"><i class="fa fa-circle-o fa-1x"></i></div></center>
				<br><br>
					<center><i class="fa fa-heart fa-1x" style="font-size:1.3em;"></i></center>
					<center><h4>Join</h4></center>
					<br>
					<p>
						The success comes with our diamond team. Sign up with one of our leaders.<br>
						There's a choice of sponsors in our gallery. Match your needs with what they have to offer and go for success.
					</p>
			</div>

			<div class="small-12 large-4 columns make-money">
			<center><div class="circle hide-for-small"><i class="fa fa-circle-o fa-1x"></i></div></center>
				<br><br>
				<center><i class="fa fa-diamond fa-2x"></i></center>
				<center><h4>Upgrade</h4></center>
				<br>
					<p>
						We are only interested in helping those who are commited. We will add you to our sponsors gallery under one condition: You need to become an <a href="/why-jeunesse/financial-rewards-plan-jeunesse">executive</a>.
					</p>
			</div>
			
			<div class="small-12 large-4 columns make-money">
			<center><div class="circle hide-for-small"><i class="fa fa-circle-o fa-1x"></i></div></center>
				<br><br>
				<center><i class="fa fa-group fa-2x"></i></center>
				<center><h4>Go For Your Dream</h4></center>
				<br>
					<p>
						Why commit to Jeunesse? Because there are millions of people starving for life change.<br>
						Focus on your goals with commitment and passion.
					</p>
			</div>
</div>


<br><br>
<hr>
<br><br>
<div class="row text-center">
<div class="large-8 large-centered columns">
<h2>Join Jeunesse</h2>
<p>
People from all around the world are joining Jeunesse Diamonds Team! We'll give you tools to succeed in your own personal Jeunesse story.
</p>
</div>
</div>




<br><br><br>

<div class="row">
		<div class="small-12 large-4 columns">
				<h3>It's incredible how many people have joined Jeunesse</h3>

				<p>
						Our team members are working 24/7 to provide you with new content, tools and ideas to build up your business. We're a group of experts, each specialising in a different category. We'll help you with interpersonal skills, leadership, marketing and promotion, email campaigns, social media and more! Join Jeunesse with us and make your way to the top!
				</p>
		</div>

		<div class="small-12 large-8 columns hide-for-small">
				 <div class="progressDiv" style="margin-left:20%;">
            <div class="statChartHolder">
                <div class="progress-pie-chart" data-percent="87"><!--Pie Chart -->
                    <div class="ppc-progress">
                        <div class="ppc-progress-fill"></div>
                    </div>
                    <div class="ppc-percents">
                    <div class="pcc-percents-wrapper">
                        <span>%</span>
                    </div>
                    </div>
                </div><!--End Chart -->
            </div>
            <div class="statRightHolder">
                <ul>
                <li> &nbsp;&nbsp;<h3 class="blue" style="color:#ea4e3d;">1m+</h3> <span>Joined Jeunesse</span></li>
                <li>  &nbsp;&nbsp;<h3 class="purple">3524</h3> <span>Joining every day</span></li>
                </ul>
                
                    <ul class="statsLeft">
                    
                    </ul>

                        <ul class="statsRight">

                        
                        </ul>
            </div>
            
        </div>

		</div>

</div>


<!-- <div class="youtube hide-for-small">

<div class="youtube-bg">
    		<div class="row">
    		<center><h2>Join people all around the world</h2></center>

    		<div class="small-6 large-6 columns text-left">
    		    		<h2><small>Spread the word on social media</small></h2>

    		</div>

    		<div class="small-6 large-6 columns text-right">
    		    		<h2><small>Earn money while you sleep</small></h2>

    		</div>

    		</div>
</div>
</div> -->

<hr>

<div class="row text-center" style="margin-top:100px;">
		<h2>Join Jeunesse With Us</h2>
<p>
Here are some of our team members from all around the world. Each of us will help you to become successful in your business. Jeunesse can give you incredible financial stability.
</p>

</div>

<div class="team">

</div>
<br>
<div class="text-center">
<a href="/portfolio"><i class="fa fa-plus-circle fa-2x rounded-plus"></i><span class="tip"><p>More customer stories</p></span></a>
</div>
<hr>




<div class="world">
<div class="text-center">
<h2>People from around the world</h2>
<p>Joined Jeunesse Already</p>

<div class="join-now"><a href="http://tomaszgrabarczyk.jeunesseglobal.com/" class="button success">Join Jeunesse</a></div>
</div>


</div>


<div class="" style="margin-top:100px;">


<div class="row text-center">
<h2>See How It Works</h2>
<p>
Some of our best customer stories, see how Jeunesse can change your life.
</p>
</div>
<br><br>

<div id="gallery-content">
<div id="gallery-content-center">

<img src="<%= asset_path('sample.jpg') %>" class="all studio"/>
<img src="<%= asset_path('sample2.jpg') %>" class="all studio"/>
<img src="<%= asset_path('sample3.jpg') %>" class="all studio"/>
<img src="<%= asset_path('sample4.jpg') %>" class="all studio"/>
<img src="<%= asset_path('sample5.png') %>" class="all studio"/>
<img src="<%= asset_path('sample6.jpg') %>" class="all studio"/>





</div>
</div>
</div>


</div>

<br><br>
<hr><br>

<div class="row">
<center><h2>Trusted by 40,000+ companies worldwide</h2></center>
<br><br>
<div class="small-12 large-4 columns text-center"><%= image_tag('member.png') %></div>
<div class="small-12 large-4 columns text-center"><%= image_tag('member2.jpg') %></div>
<div class="small-12 large-4 columns text-center"><%= image_tag('member3.jpg') %></div>

</div>



<div class="row-flex join-jeunesse-now">
<center><a href="http://tomaszgrabarczyk.jeunesseglobal.com/" class="button success">Join Jeunesse</a></center>
</div>



<script type="text/javascript">
  $('#getting-started').countdown('2015/05/30', function(event) {
    $(this).html(event.strftime('%w weeks %d days %H:%M:%S'));
  });
</script>