<% if post.live? %>
 <section class='blog-image' style="margin-bottom:100px;">
      <% if blog_post_teaser_enabled? %>
        <%= blog_post_teaser(post) %>
        <%= link_to "Read more", refinery.blog_post_path(post), class: 'button success' %>
        <p class="right" style="color:rgb(180,180,180);"><%= time_ago_in_words(post.published_at.to_date).capitalize! %> ago</p><br>
        <% if Refinery::Blog::Post.comments_allowed? %>
        <span class="right" style="color:rgb(180,180,180);">
          <%= link_to "#{t('title', :scope => 'refinery.blog.posts.show.comments')} (#{post.comments.approved.count})", refinery.blog_post_path(post) << '#comments' %>
       </span>
       <hr>
      <% end %>
      <% else %>
        <%= post.body.html_safe %>
      <% end %>
    </section>
<% end %>
