
<br><br>


<div class="row" style="margin-top:100px; border-bottom:solid 1px lightgrey;">

		<div class="small-4 large-4 columns">
			<h4>Dashboard</h4>




			<span><h6>Stories: <span class="green"><%= current_user.stories.count %></span></h6></span>
			<span><h6>Blogs: <span class="green"><%= current_user.templates.count %></span></h6></span>
			<span><h6>Posts: <span class="green"><%= current_user.userblogs.count %></span></h6></span>
		</div>

		<div class="small-8 large-8 columns">
			

				<button href="#" data-dropdown="drop2" aria-controls="drop2" aria-expanded="false" class="dropdown button primary right" style="margin-left:20px;">
				 Your Story
				</button><br>
				<ul id="drop2" data-dropdown-content class="f-dropdown" aria-hidden="true">
				  <li> <%= link_to 'Write story', new_story_path(current_user) %></li>

				  <li><%= link_to 'Stories', stories_path(current_user) %></li>
				  <li><%= link_to 'Manage stories', manage_stories_path(current_user) %></li>

				</ul>



				<button href="#" data-dropdown="drop3" aria-controls="drop3" aria-expanded="false" class="dropdown button warning right" style="margin-top:-23px;">
				 Your Blog
				</button><br>
				<ul id="drop3" data-dropdown-content class="f-dropdown" aria-hidden="true">

				  <li> <%= link_to 'Write post', templates_path(current_user) %></li>

				</ul>


		</div>
</div>

<div class="row" style="margin-top:40px;">
	 <p>Your courses:  <% current_user.subscriptions.each do |s| %>
	 		<% @c = Course.find(s.course_id.to_f) %>
	 <%= link_to @c.category, course_path(id: s.course_id), class: 'button success tiny' %>
	 <% end %>

	 <% if current_user.subscriptions.empty? %>
	 	No courses yet - <%= link_to 'subscribe now', courses_path %>
	 <% end %>
	 </p>
	 
</div>

<div class="row course" style="padding:30px 30px">
<h5>Get started</h5>
<hr>

<% if current_user.stories.count > 0 && current_user.templates.count > 0 && current_user.subscriptions.count > 0 %>
<center><p>
Well Done! You have completed all basic steps
</p>

<br><br>
<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQZWMcNKKeLIfCnx-F3wE38ElQ_hNiZfT8Z-tl_jPC8SnMFaom6SQ">

<h5>Lets build your business!</h5>

</center>

<% end %>

	<% if current_user.stories.count == 0 %>
	<div>
		<div class="small-2 large-2 columns text-center" style="padding-bottom:20px;">
			<div class="dashboard-icon"><i class="fa fa-book fa-3x"></i></div>
		</div>

		<div class="small-8 large-8 columns">
			<h5>Create your first story</h5>
			<p>Lists are where you store your contacts (we call them subscribers). Import your list to get started. learn more</p>
		</div>

		<div class="small-2 large-2 columns">
				<%= link_to 'Create story', new_story_path, class: 'button secondary right' %>
		</div>
		<hr>
	</div>

	<% end %>

	<% if current_user.templates.count == 0 %>
	<div>
		<div class="small-2 large-2 columns text-center" style="padding-bottom:20px;">
			<div class="dashboard-icon"><i class="fa fa-pencil fa-3x"></i></div>
		</div>

		<div class="small-8 large-8 columns">
			<h5>Write a blog</h5>
			<p>Lists are where you store your contacts (we call them subscribers). Import your list to get started. learn more</p>
		</div>

		<div class="small-2 large-2 columns">
				
				<%= link_to 'Start blog', templates_path(current_user), class: 'button secondary' %>
		</div>
		<hr>
	</div>

	<% end %>


		<% if current_user.subscriptions.empty? %>
	<div>
		<div class="small-2 large-2 columns text-center" style="padding-bottom:20px;">
			<div class="dashboard-icon"><i class="fa fa-road fa-3x"></i></div>
		</div>

		<div class="small-8 large-8 columns">
			<h5>Choose learn path</h5>
			<p>Lists are where you store your contacts (we call them subscribers). Import your list to get started. learn more</p>
		</div>

		<div class="small-2 large-2 columns">
				<%= link_to 'Start learning', courses_path, class: 'button secondary' %>
		</div>
		<hr>
	</div>
	<% end %>


	<div class="row">
	<br><br><br><br>
	</div>


</div>